<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Mon Site Django</title>
</head>
<body>
<div id="conteneur">
    <h1><a href="#" title="Accueil">Mon Site</a></h1>
    <nav>
        <ul id="menu">
            <li><a href="/magasin/">Application n°1 : Magasin</a></li>
            <li><a href="/don_sang/">Application n°2 : Don de Sang 🩸</a></li>
        </ul>
    </nav>
    <div id="contenu">
        <h2>Bienvenue</h2>
        <p>Choisissez une application dans le menu.</p>
    </div>
    <p id="footer">Base de Page - Site Web Django</p>
</div>
</body>
</html>